<footer class="landing-footer">
  <div class="footer-container">
    <div class="footer-brand">
      <p class="footer-name">Southern Philippines Institute of Science Library</p>
    </div>
    <p class="footer-copy">
      &copy; <%= new Date().getFullYear() %> Southern Philippines Institute of Science &amp; Technology. All rights reserved.
    </p>
  </div>
</footer>
