  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/img/school-logo-large.png" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="stylesheet" href="/css/backup.css" />
  <link rel="stylesheet" href="/css/notifications.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
  />
  <script src="/js/csrf-helper.js"></script>
  <script src="/js/session-timeout.js"></script>
  <script src="/js/api.js"></script>
  <script src="/js/ui.js"></script>
  <script src="/js/notifications.js"></script>
  <script src="/js/super-admin-guard.js" defer></script>
  <script src="/js/sidebar-toggle.js" defer></script>
  <title><%= title %></title>
